input[type='checkbox'] {
	display: none;
}
#home-body {
	height: 100vh;
	display: grid;
	margin: 0;
}
#home-main {
	background-color: #0d1821;
	color: #353531;
	grid-area: main;
	margin: 0;
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	height: 800px;
}
#home-main h1 {
	color: whitesmoke;
	font-family: 'Cairo', sans-serif;
}
#home-main img {
	display: flex;
	width: 100%;
	height: 80%;
	margin: 0;
}

/* Header responsiv Start */
@media screen and (max-width: 600px) {
	#home-body {
		grid-template-areas:
			'header header'
			'main main'
			'footer footer';
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.2fr 1fr 0.1fr;
	}

	#header {
		grid-area: header;
		background-image: url(src/images/header.jpg);
	}

	#home-main {
		grid-area: main;
	}

	#footer {
		grid-area: footer;
		display: flex;
		flex-wrap: wrap;
		min-height: 10px;
	}

	.meny {
		margin: 0;
	}

	.meny li {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		list-style-type: none;
		margin: 0;
	}
	.meny li a {
		color: white;
		text-decoration: none;
		margin: 10px;
		font-family: 'PT Sans', sans-serif;
	}
}
/*Header responsiv end */

/* Navbar om screen width är under 600 */
@media screen and (max-width: 600px) {
	/* Dropdown */
	.dropdown {
		position: relative;
		display: inline-block;
		font-size: 16px;
		color: #fff;
	}

	/**
	Hide the checkbox itself. Checking and unchecking 
	it we will be done via the label element.
*/

	input[type='checkbox'] {
		display: none;
	}

	/* Click to expand button */

	label {
		box-sizing: border-box;
		display: inline-block;
		width: 100%;
		background-color: #05334c;
		padding: 15px 20px;

		cursor: pointer;
		text-align: center;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	}
	
	ul {
		position: absolute;
		list-style: none;
		text-align: left;
		width: 100%;
		z-index: 1;
		margin: 0;
		padding: 0;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
		display: none;
	}

	ul li {
		padding: 15px;
		background-color: #748386;
		margin-bottom: 1px;
		cursor: pointer;
	}

	ul li:hover {
		background-color: #4fb9a7;
		color: #fff;
	}

	ul a {
		color: #fff;
		text-decoration: none;
	}

	/* Kollar om en checkbox är 'checked', byter då färg på label och visar ul, skulle nog använda klass eller id, men vi använder inte ul på något annat ställe */
	input[type='checkbox']:checked ~ label {
		background-color: #3d88bd;
	}

	input[type='checkbox']:checked ~ ul {
		display: block;
	}
}

/* Dropdown end */

/*Footer start */
#footer {
	margin: 0;
	border-top: 0.5px solid #d6d6d6;
	background-color: #d6d6d6;
	grid-area: footer;
}
.foot-info {
	display: flex;
	flex-grow: 1;
	background-color: #1c2a36;
	height: 200px;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}
.foot-info li {
	list-style-type: none;
}
.foot-info li a {
	color: whitesmoke;
	text-decoration: none;
	font-family: 'Cairo', sans-serif;
	font-size: small;
}
.foot-info h2 {
	text-align: center;
	color: antiquewhite;
	font-family: 'Cairo', sans-serif;
}
.copy-right {
	background-color: #242f38;
	height: 100px;
	width: 100%;
}
#sociala-medier {
	text-align: center;
}
.search {
	display: flex;
	align-items: center;
	justify-content: center;
}
.input {
	background: #ccc;
	border: none;
	width: 180px;
}
.swipe-btn {
	font-family: 'Cairo', sans-serif;
	color: black;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook {
	background: #3b5998;
	color: white;
}
.fa-twitter {
	background: #55acee;
	color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}
.fa-youtube {
	background: #bb0000;
	color: white;
}

/*footer end */

@media screen and (max-width: 576px) {
	#footer {
		margin: 0;
		border-top: 0.5px solid #d6d6d6;
		background-color: #d6d6d6;
		grid-area: footer;
	}
	#footer h2 {
		line-height: 24px;
		margin: 0;
	}
	.personal-info {
		display: none;
	}
}

/* Navbar, width större än 600px */
@media screen and (min-width: 600px) {
	#checkbox-toggle-label {
		display: none;
	}
	ul li {
		padding: 15px;
		/* background-color: #748386; */
		background-color: none;
		margin-bottom: 1px;
		cursor: pointer;
	}
}

/*Responsiv Code Start */
@media screen and (min-width: 600px) {
	#home-body {
		grid-template-areas:
			'header header header'
			'main main main'
			'footer footer footer';
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 0.2fr 1fr 0.1fr;
	}

	#header {
		grid-area: header;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 150px;
		background-image: url(src/images/header.jpg);
	}

	#home-main {
		grid-area: main;
	}

	.meny {
		display: flex;
		flex-grow: 1;
		flex-direction: row;
		align-items: flex-end;
		list-style-type: none;
		justify-content: center;
	}
	.meny a {
		color: whitesmoke;
		text-decoration: none;
		margin: 10px;
		font-size: 20px;
		font-family: 'Cairo', sans-serif;
	}
	#navbar {
		grid-area: nav;
		display: flex;
		color: #ebebeb;
		margin: 0;
	}
}
/*Responsiv Code End */

/* Galleri css Start*/
#galleri-body {
	background-color: black;
	margin: 0;
	font-family: Arial;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.galleri {
	flex: 25%;
	max-width: 100%;
	padding: 0 4px;
}

.galleri img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

@media (max-width: 750px) {
	.galleri {
		flex: 50%;
		flex-grow: 1;
	}
}

@media (max-width: 600px) {
	.galleri {
		max-width: 100%;
	}
}

.swipe-btn {
	width: 100px;
	height: 100px;
	position: fixed;
	margin-top: 300px;
	background-color: transparent;
	border-radius: 50px;
	border: none;
	font-size: 20px;
	top: 0;
}
.swipe-btn:hover {
	background-color: #2a2623;
}
.swipe-btn i {
	color: whitesmoke;
	margin-top: 40px;
	margin-left: 40px;
}

.swipe-btn:hover {
	background-color: #2a2623;
}
/*galleri css end */

/*Start the About Css*/
#film-body {
	background-color: #0d1821;
	margin: 0;
}
.container {
	margin-top: 5rem;
}
.container h1 {
	color: whitesmoke;
	text-align: center;
	font-style: italic;
	margin-bottom: 30px;
}

.container .row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	justify-content: center;
	margin-bottom: 5rem;
}

.container .row div {
	margin: 0 1rem;
	height: 250px;
}

.container .row div img {
	max-width: 100%;
	object-fit: cover;
	background-size: cover;
	height: 250px;
}
.container .row p {
	color: whitesmoke;
	font-size: 10px;
}

@media screen and (max-width: 600px) {
	.container {
		margin-top: 5rem;
	}
	.container h1 {
		color: whitesmoke;
		text-align: center;
		font-style: italic;
	}

	.container .row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
		margin-bottom: 5rem;
	}

	.container .row div {
		margin: 0 1rem;
		height: 100%;
	}

	.container .row div img {
		max-width: 100%;
		object-fit: cover;
		background-size: cover;
		height: 250px;
	}
	.container .row p {
		color: whitesmoke;
		font-size: 10px;
	}
}
/*

.contain-info{
	background-color: #ccc;
	width: 200px;
	margin: 10%;
	height: 200px;
	text-align: center;
}
.profile-left{
	height: 80px;
	width: 80px;
	border-radius: 25%;
	align-items: center;
	margin: auto;
	background-image: url(src/images/profile/profile1.png);
	background-position: center;
	background-size: cover;
}
.profile-center{
	height: 80px;
	width: 80px;
	border-radius: 25%;
	align-items: center;
	margin: auto;
	background-image: url(src/images/profile/profile2.png);
	background-position: center;
	background-size: cover;
}
.profile-right{
	height: 80px;
	width: 80px;
	border-radius: 25%;
	align-items: center;
	margin: auto;
	background-image: url(src/images/profile/profile3.jpg);
	background-position: center;
	background-size: cover;
}
.form-about{
	background-color: #0D1821;
	
}
.about-text{
	font-size: 12px;
}
*/

/*End the About Css*/
