body {
	height: 100vh;
	display: grid;
	margin: 0;
	grid-template-areas:
		'header header header'
		'main main main'
		'footer footer footer';
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 1fr 0.1fr;
}


	#tickets-main {
		grid-area: main;
    display: grid;
    padding: 2%;
    margin: 0;
    gap: 2px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #0D1821;
  }
  
  .seat {
    background-color: #2A2623;
    display: inline-grid;
    border-radius: 5px;
  }
  .seat:hover .seat-info{
    display: unset;
  }

  .seat-info {
    display: none;
    font-size: 0.65rem;
    color: #D6D6D6;
    text-align: center;
  }
  .seat-info button {
    align-self: center;
    border: none;
    border-radius: 4px;
    text-decoration: none;
  }
