/* Baseras på mobile width - under 600px */
body {
	height: 100vh;
	display: grid;
	margin: 0;
	grid-template-areas:
		'header header header'
		'main main main'
		'footer footer footer';
	grid-template-columns: 1fr 1.2fr 1fr;
	grid-template-rows: 0.2fr 1fr 0.1fr;
	background-color: #0d1821;
}

/* Navbar fullsize start */
@media screen and (min-width: 600px) {
	/* #checkbox-toggle {
		display: none;
	}
	#checkbox-toggle-label {
		display: none;
	} */
}
/* Navbar fullsize end */

/* Styr main-elementet */
#tickets-main {
	grid-area: main;
	display: grid;
	gap: 2px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	padding: 2%;
}

.seat {
	background-color: #748386;
	display: inline-flex;
	border-radius: 5px;
}
.seat:hover .seat-info {
	display: unset;
}

.seat-info {
	flex-grow: 1;
	font-size: 0.7rem;
  text-align: center;
  border: 1px solid #f2e3bc;
	border-radius: 5px;
	color: #d6d6d6;
	color: #f2e3bc;
}
.seat-info button {
	align-self: center;
	border: none;
	border-radius: 4px;
	text-decoration: none;
}
.seat-info button:visited {
	border-radius: 4px;
}

/* Media query, döljer texten i seat-info när det är fullscreen, hover visar texten */
@media screen and (min-width: 600px) {
	#tickets-main {
		padding-top: 20px;
		padding-left: 200px;
		padding-right: 200px;
		padding-bottom: 20px;
	}

	.seat-info {
		display: none;
	}
}
